In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('./data/ramen-ratings.csv')

In [14]:
df['Top Ten'].sort_values()

2535         \n
2248         \n
1846         \n
1670         \n
2475    2012 #1
         ...
2575        NaN
2576        NaN
2577        NaN
2578        NaN
2579        NaN
Name: Top Ten, Length: 2580, dtype: object

0        Cup
1       Pack
2        Cup
3       Pack
4       Pack
        ...
2575    Bowl
2576    Pack
2577    Pack
2578    Pack
2579    Pack
Name: Style, Length: 2578, dtype: object

In [26]:
df['Style']

      Review #   Brand            Variety Style Country Stars Top Ten
2152       428  Kamfen     E Menm Chicken   NaN   China  3.75     NaN
2442       138    Unif  100 Furong Shrimp   NaN  Taiwan     3     NaN